// @import "~taro-x-ui/dist/style/components/button.scss";

.x-item {
  min-height: 100px;
  line-height: 100px;
}

.list-item {
  display: flex;
  align-items: center;
  height: 98px;
  margin: 0 20px;
  padding: 0 20px;
  border-radius: 12px;

  .list-item-name {
    flex: 1;
    font-size: 28px;
    color: #333;
  }
}

.solid-border-b {
  border-bottom: 1px solid #ebebeb;
}

.padding-sm-x {
  padding-left: 20px;
  padding-right: 20px;
}

.padding-sm {
  padding: 20px;
}

.padding-sm-b {
  padding-bottom: 20px;
}

.padding-fixed-b {
  padding-bottom: 120px;
}

.bg-white {
  background-color: #fff;
}

.icon-prefix-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.icon-next {
  font-weight: 700;
  font-size: 24px;
  color: #999;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

$mtPrefix: margin-top;

.#{$mtPrefix} {
  margin-top: 30px;

  &-sm {
    margin-top: 20px;
  }

  &-xs {
    margin-top: 10px;
  }
}

page, body {
  background-color: #eff0f5;
  font-size: 28px;
  color: #333;
  font-family: Helvetica Neue, Helvetica, sans-serif;
}

.x-item-text {
  font-size: 32px;
}