$fs-xs: 20px;
$fs-sm: 22px;
$fs: 24px;
$fs-normal: 28px;
$fs-large: 32px;

$base-color: #3e3e3e;
$sub-title-color: #808086;
$border-color: #c3c3c3;
$theme-color: #FF0036;
$complementary-color-blue: #00a0ff;
$complementary-color-yellow: #ff9f43;
$card-radius: 12px;
$lineHeight: 1.4;

$modalZIndex: 999;