$font-size-md: 28px;
$text-base-color: #222;
$base-color: #ffe400;

.com-block-title {
  display: flex;
  align-items: center;
  padding: 30px 20px;
  font-size: $font-size-md;
  font-weight: 700;
  color: $text-base-color;

  i {
    display: inline-block;
    width: 8px;
    height: 26px;
    margin-right: 8px;
    background-color: $base-color;
    vertical-align: middle;
  }
  .text {

  }
}
