@font-face {
  font-family: 'iconfont';
  /* project id 708886 */
  src: url('//at.alicdn.com/t/font_708886_x3tzzvajx1q.eot');
  src: url('//at.alicdn.com/t/font_708886_x3tzzvajx1q.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_708886_x3tzzvajx1q.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_708886_x3tzzvajx1q.woff') format('woff'),
    url('//at.alicdn.com/t/font_708886_x3tzzvajx1q.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_708886_x3tzzvajx1q.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}